# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

# @end expo-cli

# Endpoints
**/Enpoints.ts
!**/Enpoints_example.ts

# Android specifics (Bare Workflow)
android/app/build/
android/.gradle/
android/local.properties
android/generated
android/app/src/main/assets/index.android.bundle
*.apk
*.aab

# iOS build artifacts (for when you eventually work on Mac)
ios/build/
ios/Pods/
ios/.xccheckout
ios/*.xcworkspace/xcuserdata/